{% extends 'catalog/base.html' %}

{% block title %}Удалить категорию{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4">Удалить категорию товаров</h1>
        <p class="lead">Вы уверены, что хотите удалить эту категорию?</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Удалить категорию</button>
        </form>
        <a href="{% url 'home' %}" class="btn btn-secondary">Отмена</a>
    </div>
{% endblock %}