{% extends 'catalog/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>Категория: {{ product.category }}</p>
    <p>Цена: {{ product.purchase_price }}</p>
    <p>Добавлено пользователем: {{ product.user }}</p>
    <p>Статус публикации:
        {% if product.publication_status == 'draft' %}
            <span style="color: red;">Черновик</span>
        {% elif product.publication_status == 'published' %}
            <span style="color: green;">Опубликован</span>
        {% else %}
            <span>{{ product.publication_status }}</span>
        {% endif %}
    </p>
    </p>
    <p>Дата создания: {{ product.date_created }}</p>
    <p>Дата последнего изменения: {{ product.date_modified }}</p>


    <div class="btn-group" role="group">
        {% if user.is_authenticated %}
            {% if perms.catalog.change_product %}
                {% if product.user == user or is_moderator %}
                    <a class="btn btn-primary" href="{% url 'product-update' product.pk %}">Редактировать</a>
                {% endif %}
            {% endif %}
            {% if perms.catalog.delete_product %}
                {% if product.user == user or is_moderator %}
                    <a class="btn btn-danger" href="{% url 'product-delete' product.pk %}">Удалить</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
